table {
    border-collapse: collapse;
}

td {
    border: 2px solid black;
    padding: 5px 15px;
    text-align: center;
}

.color1 {
    background-color: lightseagreen;
}

.color2 {
    background-color: lightblue;
}

.color3 {
    background-color: lightcoral;
}